
body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; /* VS Code dark background */
  color: #d4d4d4; /* Light gray text */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, span {
  line-height: 1.5;
}